# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/build/
/dist/
/local_util/
/node_modules/
/ovoscope.egg-info/
/.eggs/
*.egg-info/
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Local configuration
.env
.python-version
